/* for res temp*/

@media (max-width:1004px){
    .navbar{
        display: none;
    }

    .body{
        width: 100%;
    }

    .boxes{
        width:100%;
    }

    .float{
        right: 1.5em;
    }
    .headerTroup{
        text-align: left;
        width: 80%;
    }

    .leftSide{
        display: none;
    }

    .rightSide{
        width: 100%;
    }

    .formWraper{
        width: 25em;
    }

    .contents{
        overflow-y: auto;
    }

    .contents::-webkit-scrollbar{
        display: none;
    }
}