.div{
    background-color: #ffffff;
    border-radius: 8px; 
    box-sizing: border-box;
    margin-left: 15px;
    height: 25em;
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contents{
    display: flex;
    align-items: center;
    justify-content: center;
  }
